<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="BcExpExp Test Suite">
            <directory>tests/Bc/ExpExp/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Bc/ExpExp/</directory>
        </whitelist>
    </filter>
</phpunit>